PORT=port_number
MONGODB_URI=mongo_connection_string
CORS_ORIGIN=frontend_url
ACCESS_TOKEN_SECRET=your_secret_key
ACCESS_TOKEN_EXPIRY=expriy
REFRESH_TOKEN_SECRET=your_secret_key
REFRESH_TOKEN_EXPIRY=expriy